# Ignore targets cache
_targets/

# Ignore Quarto cache and output
.quarto/
*_files/
*_cache/

# Python virtual environment
.venv/
__pycache__/
*.pyc
vis/pipeline_files

# config
.env

# dbt 
dbt/target/
dbt/logs/
dbt/dbt_packages/
dbt/package-lock.yml
logs/
dbt/profiles.yml